/*import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');*/


@font-face {
    font-family: 'San Francisco';
    src: url(Fonts/SFUIDisplay-Regular.otf) format('opentype');
}

* {
    font-family: 'San Francisco';
    src: url(Fonts/SFUIDisplay-Regular.otf) format('opentype');
    font-weight: normal;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

a {
    color:aquamarine;
}
