* {
    box-sizing: border-box;
    cursor:none;
}

@font-face {
    font-family: 'San Francisco';
    src: url(Fonts/SFUIDisplay-Regular.otf) format('opentype');
}

body {
    margin: 0;
    padding: 0;
    background-color: #333333;
    color: white;
    cursor:none;
    background-image: url(csspic/wall.png);
}

.button {
    background-color: #4CAF50;
    margin-left: 10px;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 16px 8px!important;
    text-decoration: none;
    font-size: 16px;
    cursor: none;
    border-radius: 3px;
}
  
h1 {
    cursor:default;
    color: whitesmoke;
    transition: .5s;
    margin-left: 10px;
    cursor:none;
}

pg1 {
    margin-left: 10px;
    cursor:none;
}