@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    font-family: 'Space Mono', monospace;
}

html {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

