@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

html {
    background-image: url('csspic/wall.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

