/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');*/


* {
    font-family: 'San Francisco';
    src: url(Fonts/SFUIDisplay-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'San Francisco';
    src: url(Fonts/SFUIDisplay-Regular.otf) format('opentype');
}

html {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

