* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background: #1b2021;
    font: 600 1.8rem 'Source Sans Pro';
}

.calculator {
    padding: 20px;
    border-radius: 12px;
    box-shadow:2px 2px 4px rgba(8, 8, 8, 0.6),
    2px 2px 2px rgba(32, 32, 32, 0.4),
    -2px -2px 4px rgba(32, 32, 32, 0.05),
    -2px -2px 6px rgba(255, 255, 255, 0.1);
}

.calculator .input {
    color: #ffffff;
    height: 60px;
    padding: 10px 0 0 18px;
    text-align: left;
    margin-right: 6px;
    font-size: 2.5rem;
    letter-spacing: 5px;
}

.calculator .operators div {
    color: #efefef;
    background: #0a5e57;
    display: inline-block;
    width: 60px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: inset -2px -2px 6px #376663,
                inset 2px 2px 4px #1f3f3c;
}

.calculator .leftPanel {
    display: inline-block;
}

.calculator .numbers div {
    color: #3b66ff;
    cursor: pointer;
    display: inline-block;
    width: 60px;
    padding: 10px;
    text-align: center;
    margin: 10px 4px 4px 0;
}

.calculator div.equal {
    color: #efefef;
    display: inline-block;
    background: #0a5e57;
    text-align: center;
    width: 60px;
    padding: 115px 10px;
    margin-top: 10px;
    vertical-align: top;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: inset -2px -2px 6px #376663,
                inset 2px 2px 4px #1f3f3c;
}

.calculator .numbers #clear {
    color: #efefef;
    background: #f52245;
    box-shadow: inset -2px -2px 6px #f8617a,
                inset 2px 2px 4px #c81c39;
}

.calculator .input,
.calculator .numbers div {
    border-radius: 12px;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset -2px -2px 4px rgba(32, 32, 32, 0.05),
    inset  2px 2px 2px  rgba(32, 32, 32, 0.4),
    inset  2px 2px 4px  rgba(8, 8, 8, 0.6);
}


                