* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: white;
    transition: 0.5s;
}

.brand-title {
    font-size: 1.9rem;
    margin: .5rem;
    transition: .5s;
    text-shadow: -5px  5px 10px #3f3f3f;
}

.brand-title:hover {
    color: #fff;
    text-shadow: 0 0 5px #df0000,
                 0 0 25px #df0000,
                 0 0 50px #df0000,
                0 0 100px #df0000;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    transition: 0.5s ease;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    transition: 0.5s;
    background-color: transparent;
}

.navbar-links li a:hover {
    color: #00d9FF;
    transition: 0.5s ease;
}

nav ul li a span {
    position:absolute;
    opacity: .4s;
}

.navbar-links li a span {
    background-color: #00d9FF;
    box-shadow: 0 0 20px #00d9FF;
    transition: 0.5s;
}

.navbar-links li a span {
    top:0;
    left: 0;
    width: 0%;
    height: 1px;
}

.navbar-links li a:hover span {
    width: 100%;
    opacity: 1;
    transition: 0.5s;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    align-items: center;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

h1 {
    color: white;
    transition: .5s;
    margin-left: 10px;
    margin-bottom: 5px;
}

pg1 {
    color:white;
    margin-left: 10px;
}

pg2 {
    color: white;
    margin-left: 10px;
}

script {
   margin: auto; 
}

.overlay {
    display: none;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        transition: 0.5s ease;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        transition: 0.5s;
    }
    
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
        display: block;
      }
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }

}


/*     .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        
    } */