* {
    box-sizing: border-box;
    cursor: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    cursor:none;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: white;
    transition: 0.5s;
    z-index: 5;
}

h9 {
    font-size: 1.9rem;
    margin: .5rem;
    transition: .5s;
    cursor: pointer;
    cursor: none;
    border-radius: 5px;
}

.navbar-links {
    height: 100%;
    font-weight:lighter;
}

.navbar-links ul {
    display: flex;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    transition: 0.5s ease;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    transition: 0.5s;
    background-color: transparent;
    font-family: 'San Francisco';
    border-radius: 5px;
}

.navbar-links li a:hover {
    color: #00d9FF;
    transition: 0.5s ease;
}

nav ul li a span {
    position:absolute;
    opacity: .4s;
}

.navbar-links li a span {
    background-color: #00d9FF;
    box-shadow: 0 0 20px #00d9FF;
    transition: 0.5s;
}

.navbar-links li a span {
    top:0;
    left: 0;
    width: 0%;
    height: 1px;
}

.navbar-links li a:hover span {
    width: 100%;
    opacity: 1;
    transition: 0.5s;
}


.toggle-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    align-items: center;
    border-radius: 3px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

script {
   margin: auto; 
}

.overlay {
    display: none;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        transition: 0.5s ease;
    }

    .toggle-button {
        display: flex;
    }

    h9 {
    margin: .3rem;
    margin-left: 3.5rem;
    margin-top: .5rem;
    }

    .navbar-links {
        display: none;
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        transition: 0.5s;
    }
    
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
        display: block;
        z-index: 69;
      }
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        border-radius: 3px;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }

}

@keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
  #blob {
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, #00fca8, #00ff2d);
    animation: rotate 20s infinite;
    opacity: 0.8;
  }
  
  #blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
  }

/*     .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        
    } */