* {
    Padding: 0;
    font-family: 'San Francisco';
    box-sizing: border-box;
    cursor: none;
}

@font-face {
    font-family: 'San Francisco';
    src: url(Fonts/SFUIDisplay-Regular.otf) format('opentype');
}

body {
    margin: 0;
    padding: 0;
    Color: White;
    background-color: #202020;
    cursor: none;
}
h1 {
    cursor:default;
    color: whitesmoke;
    transition: .5s;
    font-weight: lighter;
    cursor: none;
    width: 50px;
    margin-top: 10px;
}

h1:hover {
    color: #fff;
    text-shadow: 0 0 5px #03e9f4,
                 0 0 25px #03e9f4,
                 0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

.button {
    background-color: #13bb6da2;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: none;
    width: 100%;
    flex-direction: column;
    text-align:center;
    align-items: center;
    margin: 0px 0px;
    border-radius: 3px;
    margin-top:8px;
}

@media (max-width:800px) {

    span{
        display: none;
    }

    a button:hover {
        color: white;
        background-image: linear-gradient(to bottom right, #13c8cc , #1399bb);
    }

    h1 {
        align-items: center;
        text-align: center;
        transition: .5s;
    }

    .button {
        background-color: #13bb6da2;
        color: white;
        cursor: none;
        
    }

    .button:hover{
    color: white;
        background-image: linear-gradient(to bottom right, #13c8cc , #1399bb);
    }
}
