* {
    Padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    Color: White;
    background-color: #202020;
}

a button {
    position: relative;
    margin: 0 15px;
    width: 180px;
    height: 50px;
    line-height: 40px;
    font: 20px sans-serif;
    letter-spacing: 1px;
    background: transparent;
    color: #eeeeee;
    cursor: pointer;
    transition: all .4s;
    border: transparent;
}

a button:nth-child(1):hover {
    color: #40f11c;
}

a button:nth-child(2):hover {
    color: #ff2781;
}

a button:nth-child(3):hover {
    color: #00d9ff;
}

/*a button:nth-child(4):hover {
    color: #fbff00;
}*/

span {
    position: absolute;
    opacity: .4s;
    transition: all .4s;
}

a button:nth-child(1) span {
    background: #40f11c;
    box-shadow: 0 0 20px #40f11c;
}

a button:nth-child(2) span {
    background: #ff2781;
    box-shadow: 0 0 20px #ff2781;
}

a button:nth-child(3) span {
    background: #00d9ff;
    box-shadow: 0 0 20px #00d9ff;
}

a button:nth-child(4) span {
    background: #fbff00;
    box-shadow: 0 0 20px #fbff00;
}

a button span:nth-child(1) {
    top: 0;
    left: 0;
    width: 0%;
    height: 1px;
}

a button span:nth-child(2) {
    top: 0;
    right: 0;
    width: 1px;
    height: 0%;
}

a button span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 0%;
    height: 1px;
}

a button span:nth-child(4) {
    bottom: 0;
    left: 0;
    width: 1px;
    height: 0%;
}

a button:hover span:nth-child(1),
a button:hover span:nth-child(3) {
    width: 100%;
    opacity: 1;
}

a button:hover span:nth-child(2),
a button:hover span:nth-child(4) {
    height: 100%;
    opacity: 1;
}

h1 {
    cursor:default;
    color: whitesmoke;
    transition: .5s;
}

h1:hover {
    color: #fff;
    text-shadow: 0 0 5px #03e9f4,
                 0 0 25px #03e9f4,
                 0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@media (max-width:800px) {
    a button {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
}